.btn{
    text-align: left;
    display: flex;
    label{
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 10px;
    }
    img{
        width: 50px;
        height: auto;
        border-radius: 50px;
        margin-right: 10px;
        margin-bottom: auto;
        margin-top: auto;
    }
    svg{
        float: right;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
    .hover-layer{
        display: none;
    }
    &:hover{
        .hover-layer{
            display: initial;
        }
    }
    .button-section {
        margin-right: 10px;
        .badge-pill{
          margin-right: 5px;
        }
    }
    .button-label{
        display: block;
    } 
    .badge-pill{
        width: fit-content;
        }
    
}


