.btn{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    position: relative;
    text-align: left;
    label{
      margin-bottom: auto;
      margin-top: auto;
      margin-right: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
    img, svg:not(.icon){
        width: 40px;
        height: auto;
        border-radius: 50px;
        margin-right: 10px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .icon{
        float: right;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
    .hover-layer{
        cursor: pointer;
        display: flex;
        position: absolute;
        visibility: hidden;
        right: 0;
        top: 0;
        bottom: 0;
        max-width: 35%;
        label{
            margin: 0;
            font-weight: normal;
        }
        .label-content{
            div{
                text-align: center;
            }
        }
            div:last-child{
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
        min-height: 55px;
    }
    &:hover{
        .hover-layer{
            cursor: pointer;
            display: flex;
            visibility: visible;
            .button-label{
                    cursor: pointer;
                    display: block;
                    width: min-content;
                    padding: 3px;
                    text-align: center;
                    background: #F2FFF8;
            }
        }
        color:#000;
    }
    .button-section {
        cursor: pointer;
        .badge-pill{
          margin-right: 5px;
        }
        margin-bottom: auto;
        margin-top: auto;
        label:last-child{
            font-size:10px;
            font-weight: 100;
        }
        .button-label{
            font-size:15px;
            font-weight: 600;
        }
    }
    .button-label{
        cursor: pointer;
        display: block;
        margin-left: 10px;
    } 
    .badge-pill{
        width: fit-content;
        font-size: 10px;
        }
    .label-content{
        display: block;
        height: 100%;
        label{
            text-align: center;
            margin-bottom: 2px;
            font-size: 10px;
            margin-left: 3px;
            margin-right: 3px;
        }
        svg{
            float:none;
            font-size: 20px !important;
            margin-top: 2px;
        }
    }
}


