.img-button{
    text-align: justify;
    img{
        width: 40px;
        height: auto;
        margin-right: 10px;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .btn{
        color: #fff; 
        background-color: transparent !important;
        border-color: transparent !important;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
}