.click{
    cursor: pointer;
}
.vertical{
    max-width: 100vw;
    img{
        max-height: 80px;
        object-fit: cover;
        background: #E5E5E5;
    }
    p{
        font-size:10px;
        margin-bottom: 5px;
    }
    .h5{
        font-weight: 700px;
        font-size:12px;
    }
    svg{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .card-body{
        margin: 15px;
        padding: 0.25rem;
    }
    .click{
        cursor: pointer !important;
    }
    
}
.horizontal{
        flex-direction: row;
        padding: 10px;
        img{
            max-width: 35px;
            max-height: 35px;
            margin-right: auto;
        }
        p{
            font-size: 14px;
            width: 70%;
            margin: auto;
            margin-left: 20px;
            margin-right: 20px;
        }
        .smart-link{
            width: 20%;
            position: relative;
            margin-right: auto;
        }
        .card-img-top{
            margin: auto;
        }
        .smart-link{
            margin: auto;
        }
        .icon{
            margin-bottom: auto;
            margin-top: auto;
        }
    }