$theme-colors: (
    "primary": #4285ff,
    "primary-light": #E3F2FF,
    "bg-primary-light": #E3F2FF,
    "success-light":#F2FFF8,
    "bg-success-light":#F2FFF8,
    "secondary-light":#F5F5F5,
    "bg-secondary-light":#F5F5F5,
    "danger-light": #FFF5F2,
    "bg-danger-light":#FFF5F2
);

@import "~bootstrap/scss/bootstrap";

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        color: $gray-800;
        border: 0px;
        .arrow{
            color: map-get($theme-colors, $color)
        }
        &:hover{
            .arrow{
                color: white;
            }
        }
    }
}

.shadow-one{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
body{
    color: $gray-800;
}